<div class="container-fluid bg-dark p-4">
	<div class="row">
		<div class="col-lg-4 bg-light rounded">
			<div class="container catch-phrase">
				<h1 class="align-self-center text-center">Catch Phrase</h1>
			</div>
			<div class="container catch-phrase">
				<h1 class="text-center">Menu</h1>
			</div>
		</div>
		<div class="col-lg-8" >
			<div class="jumbotron m-0">
			  <h1 class="display-4">You pick, I feed</h1>
			  <p class="lead">Select any food of your choice and we will feed you. If you can't find the food you're hoping for, do feel free to send us reccomendations through our contacts tab, and we will try to satisfy your cravings to the best of our ability!</p>
			  <hr class="my-4">
			  <p>A full tummy gives maximum productivity!</p>
			  <p class="lead">
			    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			  </p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid p-4 bg-light" style="min-height: 60vh;">
	<div class="row">
		<div class="col-lg-3 rounded">
			<form>
				<div class="form-group">
					<label for="formFilter1">Filter 1<label>
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Dropdown
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
					    <button class="dropdown-item" type="button">Action</button>
					    <button class="dropdown-item" type="button">Another action</button>
					    <button class="dropdown-item" type="button">Something else here</button>
					  </div>
					</div>
				</div>
				<div class="form-group">
					<label for="formFilter1">Filter 2<label>
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Dropdown
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
					    <button class="dropdown-item" type="button">Action</button>
					    <button class="dropdown-item" type="button">Another action</button>
					    <button class="dropdown-item" type="button">Something else here</button>
					  </div>
					</div>
				</div>
				<div class="form-group">
					<label for="formFilter1">Filter 3<label>
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Dropdown
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
					    <button class="dropdown-item" type="button">Action</button>
					    <button class="dropdown-item" type="button">Another action</button>
					    <button class="dropdown-item" type="button">Something else here</button>
					  </div>
					</div>
				</div>
				<div class="form-group">
					<label for="formFilter1">Filter 4<label>
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Dropdown
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
					    <button class="dropdown-item" type="button">Action</button>
					    <button class="dropdown-item" type="button">Another action</button>
					    <button class="dropdown-item" type="button">Something else here</button>
					  </div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-6">
			<div class="row mx-auto">
				<h1 class="align-self-center text-center">Menu</h1>
			</div>
			<div class="row ">

				<div class="col-lg-4 col-sm-6 ">
		            <div class="card ">
    				  <%= image_tag("cat.jpg", :alt => "rss feed" , class:"card-img-top") %>
    				  <div class="card-body">
    				    <h5 class="card-title">Food 1</h5>
    				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				    <div class="row">
    				    	<div class="col-lg-6">
    				    		<button class="btn btn-primary" type="submit">-</button>
    				    		<span type="text" name="quantity" placeholder="quantity" disabled="true" style="box-sizing: border-box;">5</span> 
    				    		<button class="btn btn-primary" type="submit">+</button>
    				    	</div>
    				    	<div class="col-lg-6">
    				    		<a href="#" class="btn btn-primary">Add to cart</a>
    				    	</div>
    				    </div>
    				  </div>
    				</div>
		        </div>
		        <div class="col-lg-4 col-sm-6 ">
		            <div class="card ">
    				  <%= image_tag("cat.jpg", :alt => "rss feed" , class:"card-img-top") %>
    				  <div class="card-body">
    				    <h5 class="card-title">Food 1</h5>
    				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				    <div class="row">
    				    	<div class="col-lg-6">
    				    		<button class="btn btn-primary" type="submit">-</button>
    				    		<span type="text" name="quantity" placeholder="quantity" disabled="true" style="box-sizing: border-box;">5</span> 
    				    		<button class="btn btn-primary" type="submit">+</button>
    				    	</div>
    				    	<div class="col-lg-6">
    				    		<a href="#" class="btn btn-primary">Add to cart</a>
    				    	</div>
    				    </div>
    				  </div>
    				</div>
		        </div>
		        <div class="col-lg-4 col-sm-6 ">
		            <div class="card ">
    				  <%= image_tag("cat.jpg", :alt => "rss feed" , class:"card-img-top") %>
    				  <div class="card-body">
    				    <h5 class="card-title">Food 1</h5>
    				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				    <div class="row">
    				    	<div class="col-lg-6">
    				    		<button class="btn btn-primary" type="submit">-</button>
    				    		<span type="text" name="quantity" placeholder="quantity" disabled="true" style="box-sizing: border-box;">5</span> 
    				    		<button class="btn btn-primary" type="submit">+</button>
    				    	</div>
    				    	<div class="col-lg-6">
    				    		<a href="#" class="btn btn-primary">Add to cart</a>
    				    	</div>
    				    </div>
    				  </div>
    				</div>
		        </div>
		        <div class="col-lg-4 col-sm-6 ">
		            <div class="card ">
    				  <%= image_tag("cat.jpg", :alt => "rss feed" , class:"card-img-top") %>
    				  <div class="card-body">
    				    <h5 class="card-title">Food 1</h5>
    				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				    <div class="row">
    				    	<div class="col-lg-6">
    				    		<button class="btn btn-primary" type="submit">-</button>
    				    		<span type="text" name="quantity" placeholder="quantity" disabled="true" style="box-sizing: border-box;">5</span> 
    				    		<button class="btn btn-primary" type="submit">+</button>
    				    	</div>
    				    	<div class="col-lg-6">
    				    		<a href="#" class="btn btn-primary">Add to cart</a>
    				    	</div>
    				    </div>
    				  </div>
    				</div>
		        </div>
		        <div class="col-lg-4 col-sm-6 ">
		            <div class="card ">
    				  <%= image_tag("cat.jpg", :alt => "rss feed" , class:"card-img-top") %>
    				  <div class="card-body">
    				    <h5 class="card-title">Food 1</h5>
    				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				    <div class="row">
    				    	<div class="col-lg-6">
    				    		<button class="btn btn-primary" type="submit">-</button>
    				    		<span type="text" name="quantity" placeholder="quantity" disabled="true" style="box-sizing: border-box;">5</span> 
    				    		<button class="btn btn-primary" type="submit">+</button>
    				    	</div>
    				    	<div class="col-lg-6">
    				    		<a href="#" class="btn btn-primary">Add to cart</a>
    				    	</div>
    				    </div>
    				  </div>
    				</div>
		        </div>
		        <div class="col-lg-4 col-sm-6 ">
		            <div class="card ">
    				  <%= image_tag("cat.jpg", :alt => "rss feed" , class:"card-img-top") %>
    				  <div class="card-body">
    				    <h5 class="card-title">Food 1</h5>
    				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				    <div class="row">
    				    	<div class="col-lg-6">
    				    		<button class="btn btn-primary" type="submit">-</button>
    				    		<span type="text" name="quantity" placeholder="quantity" disabled="true" style="box-sizing: border-box;">5</span> 
    				    		<button class="btn btn-primary" type="submit">+</button>
    				    	</div>
    				    	<div class="col-lg-6">
    				    		<a href="#" class="btn btn-primary">Add to cart</a>
    				    	</div>
    				    </div>
    				  </div>
    				</div>
		        </div>
			</div>
		</div>
		<div class="col-lg-3">
			cart
		</div>
	</div>	
</div>