<!DOCTYPE html>
<html>
  <head>
    <title>EahFoods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <%= render :partial => 'partial/navbar' %>
    <div style="min-height: 100vh">
      <%= yield %>
    </div>
    <%= render :partial => 'partial/footer'%>
  </body>
</html>
